/* CryptoFR style */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

body {
	background: #e4e4e4;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;

	.fad {
		font-style: normal;
	}

	.btn {
	    border-radius: 4px;
	    padding: 6px 10px;
	    text-transform: uppercase;

	    &.btn-primary, &.btn-info {
		    background: #525C96;
		    border-color: #525C96;
		    text-transform: uppercase;
		    &:hover {
		    	background: #6870b3;
		    	border-color: #6870b3;
		    }
		}

		.open>.dropdown-toggle.btn-info {
			background: #6870b3;
		    border-color: #6870b3;
		}

		&.btn-default {
		    color: #5f5f5f;
		    background-color: #fafafa;
		    border-color: #dedede;
		    &:hover {
		    	background: #fff;
		    	border-color: #525aa5;
		    	color: #434A81;
		    }
		}
	}
}

.categories-title {
	display: none;
}

.navbar-default {
    background-color: #30305C;
    border-color: #30305C;
    height: 70px;

    .navbar-nav>li>a {
	    color: #434A81;
	    padding-left: 10px;
    	padding-right: 10px;
    	text-align: center;

	    i {
	    	background: white;
		    line-height: 28px;
		    height: 28px;
		    width: 28px;
		    border-radius: 100%;
		    display: inline-block;
	    }

	    &:hover {
	    	color: #c4c5ff;
	    }
	}

	.navbar-nav>.active>a,
	.navbar-nav>.active>a:focus,
	.navbar-nav>.active>a:hover {
	    color: #f55e03;
	    background-color: #e9e9e8;
	}

	.btn-link {
	    color: #fff;
	    &:hover {
	    	color: #c4c5ff;
	    }
	}

	.pagination-text {
	    color: white;
	    font-size: 13px;
	}
}

@media (min-width: 768px) {
	.navbar-default {
		.navbar-nav>li>a {
		    padding-top: 21px;
		    padding-bottom: 21px;
		}
	}
}

.header {
	.forum-logo {
	    max-height: 46px;
	    margin-top: 13px;
	    margin-right: 15px;
	}
	#user_dropdown {
	    padding: 20px 15px;
	}

	.pagination-block .progress-container {
	    left: 16px;
	}
}

#search-form { 
	#search-button {
	    margin-top: 10px;
	    margin-right: -4px;

		i {
		    background: #fff;
		    line-height: 28px;
		    height: 28px;
		    width: 28px;
		    border-radius: 100%;
		    display: inline-block;
		    color: #434981;
		}
	}
	#search-fields {
	    margin-top: 11px;
	    border-radius: 3px;
	}
}

#logged-out-menu {
    margin-top: 19px;

    li a {
	    display: inline-block;
	    line-height: 0px;
	    padding: 16px;
	    color: white;
	    font-weight: 300;

	    &.login-button {
		    background: #525C96;
		    border-radius: 4px;
		    margin-left: 10px;

		    &:hover {
		    	background: #626dad;
		    }
		}
	}
}

.unread-count:after {
    position: absolute;
    left: 27px;
    top: 15px;
    text-align: center;
    border: 1px solid #ff5e00;
    color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    line-height: 14px;
    background: #ff5e00;
    padding: 1px 2px;
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
}


/* categories */

.categories>li, .category>ul>li {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 53px;
    background: #FAFAFA;
    display: flex;
    align-items: stretch;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;

    .content img.emoji {
    	height: inherit;
    	width: inherit;
    }

    .description {
	    margin-left: 62px;
	    font-family: Poppins;
	    font-style: normal;
	    font-weight: normal;
	    font-size: 12px;
	    line-height: 16px;
	    display: flex;
	    letter-spacing: 0.4px;
	    color: rgba(0, 0, 0, 0.6);
	}

    .human-readable-number {
	    font-family: Barlow;
	    font-style: normal;
	    font-weight: 600;
	    font-size: 21px;
	    align-items: center;
	    text-align: center;
	    color: #434A81;
	}
	.stats {
		align-self: center;
		small {
		    text-transform: uppercase;
		    font-family: Poppins;
		    font-style: normal;
		    font-weight: 400;
		    font-size: 12px;
		    color: rgba(0, 0, 0, 0.6);
		}
	}

	.teaser {
	    background: #E9EBF2;
	    margin-top: -10px;
	    margin-bottom: -10px;
	    padding-left: 0px;
	    margin-left: 20px;
	    margin-right: -1px;

	    .card {
		    border-left: 2px solid #ccc;
		    text-align: left;
		    margin-top: 0px;
		    overflow: hidden;
		    height: 100%;
		    font-size: 12px;
		    line-height: 14px;
		    display: flex;
		    flex-wrap: wrap;
		    align-content: center;
		    border-color: #efefff !important;

		    .post-title {
			    font-family: Barlow;
			    font-style: normal;
			    font-weight: 500;
			    font-size: 15px;
			    line-height: 100%;
			    color: #434A81;
			    text-decoration: none;
			    &:hover {
			    	color: #636dca!important;
			    }
			}

			.username {
				display: inline-block;
				.avatar {
				    height: 18px !important;
				    width: 18px !important;
				    line-height: 18px !important;
				    font-size: 1rem !important;
				}
				.user {
				    color: #434981 !important;
				    &:hover {
				    	color: #636dca!important;
				    }
				}
			}
		}

		.user-wrapper {
		    font-size: 12px;
		    padding-top: 5px;
		    color: rgba(0, 0, 0, 0.6);
		    a {
		    	color: rgba(0, 0, 0, 0.6);
		    	&:hover {
		    		color: rgb(45 49 150 / 60%) !important;
		    	}
		    }
		}
	}

	.teaser.unread {
		.card {
    		border-color: #f55e03ab!important;
    		a {
		    	color: #ef845a;
		    }
    	}
	}

    .content {
    	h2 {
    		font-family: Barlow;
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
    		line-height: 24px;

    		a {
    			color: #434A81;
    			&:hover {
			    	color: #636dca!important;
			    }
    		}
    	}

    	.icon, .category>ul>li .content .icon {
		    font-size: 22px;
	    	line-height: 22px;
		    padding: 13px;
		    border-radius: 50%;
		    margin-right: 15px;
		    min-width: 46px;
		    min-height: 46px;
		    margin-top: 2px;
		    background-color: transparent !important;
		    color: #434A81 !important;
		}
	}
}

.categories>li .category-children {
	margin-right: -20px;
		.category-children-item {
		background: #e9ebf2;
	    border-radius: 16px;
	    height: 27px;
	    margin-bottom: 5px;
	    padding: 0 8px;

	    &:hover {
	    	background: #f1f3f9;
	    }

	    &.unread {
	    	small {
			    color: #FF5E00;
			}
			.fad {
			    color: #FF5E00 !important;
			}
	    }

		div.icon {
		    font-size: 15px!important;
		    text-align: center;
		    display: inline-block;
		    margin-right: 7px;
		    padding: 0;
		    margin-top: 3px;
		    height: 18px!important;
		    width: 18px!important;
		    background-size: cover!important;
		}
		small {
		    color: #434a81;
		    line-height: 27px;
		    font-size: 12px;
		    font-weight: 500;
		}
	}
}
ul.categories [data-cid="2"]:before {
    content: "General";
    background: #fafafa url(https://i.gyazo.com/f75851bd33471b78daa69541791a2ee1.png) no-repeat 22px center;
}
ul.categories [data-cid="96"]:before {
    content: "AssoCryptoFR";
    background: #fafafa url(https://i.gyazo.com/507c5adc7da96ea17e16af20f8721529.png) no-repeat 19px center;
}
ul.categories [data-cid="71"]:before {
    content: "Bitcoin";
    background: #fafafa url(https://i.gyazo.com/16020bc2aa69b5a5f3cb853e8e770764.png) no-repeat 24px center;
}
ul.categories [data-cid="44"]:before {
    content: "Ethereum";
    background: #fafafa url(https://i.gyazo.com/bd243b6c1636bfce54fa957c676af1b0.png) no-repeat 32px center;
}
ul.categories [data-cid="25"]:before {
    content: "Cryptomonnaies & Blockchains";
    background: #fafafa url(https://i.gyazo.com/1d6b582fa9edc18a22e105bea526db2b.png) no-repeat 23px center;
}

ul.categories [data-cid="103"], ul.categories [data-cid="18"], ul.categories [data-cid="73"], ul.categories [data-cid="94"], ul.categories [data-cid="27"], ul.categories [data-cid="36"] {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom: 1px solid #dedede;
    .teaser {
    	border-bottom-right-radius: 6px;
    }
}
ul.categories [data-cid="1"] {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
ul.categories [data-cid="2"], ul.categories [data-cid="25"], ul.categories [data-cid="44"], ul.categories [data-cid="71"], ul.categories [data-cid="96"] {
    margin-top: 25px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    padding-top: 56px;
    border-top: 1px solid #dedede;
}
ul.categories [data-cid="1"] {
    border-top: 1px solid #dedede;
    .teaser {
    	border-top-right-radius: 6px;
    }
}
ul.categories [data-cid="2"]:before, ul.categories [data-cid="25"]:before, ul.categories [data-cid="44"]:before, ul.categories [data-cid="71"]:before, ul.categories [data-cid="96"]:before {
    color: #434a81;
    display: block;
    position: absolute;
    border-bottom: 1px solid rgba(0,0,0,.08);
    text-align: left;
    padding-left: 80px;
    text-transform: uppercase;
    font-family: Barlow;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 45px;
    padding-bottom: 0;
    margin-bottom: 12px;
    margin-top: -56px;
    width: 100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-right: 1px solid #dedede;
}

ul.categories [data-cid="1"],
ul.categories [data-cid="2"],
ul.categories [data-cid="96"],
ul.categories [data-cid="67"],
ul.categories [data-cid="71"],
ul.categories [data-cid="64"],
ul.categories [data-cid="44"],
ul.categories [data-cid="25"],
ul.categories [data-cid="16"],
ul.categories [data-cid="22"],
ul.categories [data-cid="51"],
ul.categories [data-cid="72"],
ul.categories [data-cid="29"]{
    border-bottom: 1px solid rgba(0,0,0,0.04);
}

/* Widgets */

.panel.panel-default {
    border-radius: 5px;
    border-color: #dedede;

    .panel-heading {
	    color: #434981;
	    background-color: #fafafa;
	    border-color: #dedede;
	    border-top-left-radius: 5px;
	    border-top-right-radius: 5px;

	    .panel-title {
		    font-family: Barlow;
		    font-style: normal;
		    font-weight: 500;
		    font-size: 15px;
		}
	}
	.panel-body {
	    background: #fafafa;
	    border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}

/* Footer */

footer.container {
    margin-left: auto !important;
    font-family: Barlow;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 49px;
    height: 50px;
    position: absolute;
    left: 0px;
    text-align: center;
    background: #30315c;
    color: white;
    width: 100%;
    .copyright {
    	padding-bottom: 0px;
    	a {
    		color: #f08f69;
    		&:hover {
    			color: #f3a485;
    		}
    	}
    }
}

/***********************************

           Category

***********************************/

.breadcrumb {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #525C96;
    >.active {
    	color: #30315c;
    }
    a {
    	color: rgba(0, 0, 0, 0.54);
    	&:hover {
    		color: #30315c;
    	}
    }
    >li+li:before {
	    color: rgba(0, 0, 0, 0.54);
	}
	.fa:hover {
		color: #e89703;
	}
}

.subcategory {
	.categories>li {
	    border-bottom: 1px solid rgba(0,0,0,.04);
	    margin-left: 0px;
    	margin-right: 0px;

	    &:last-child {
	    	border-bottom: none;
	    }
	}
}

.category-options {
	margin-bottom: 10px;
    margin-top: 25px;
}

/***********************************

           topic lists

***********************************/

.category-title {
    background: white;
    padding: 9px;
    margin-bottom: -9px;
    border: 1px solid #dedede;
    border-bottom: none;
    color: #434981;
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

.topic-list li {
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px solid rgba(0,0,0,.04) !important;

    &.pinned-topic {
	    background: #eaebf2 !important;
	    .ui-sortable-handle {
	    	&::before {
			    display: none;
			}
	    }
	}

	&.unread {
		background: #fff8f0;
		.teaser .card {
		    border-color: #f55e03ab!important;
		    .content {
		    	color: #f08f69;
		    	&:hover {
		    		color: #d07a58;
		    	}
		    }
		}
	}

	.moved-icon {
		color: #828282;
    	font-size: 18px;
	}

	.locked-icon {
		color: #30315c;
    	font-size: 18px;
	}

	.content {
		padding: 0;
		.topic-title {
			font-size: 18px;
			&:hover {
				color: #7e85bf;
			}
		}
		.tag-list .tag {
		    background: #e2e2e2;
		    border-radius: 16px;
		    font-family: Poppins;
		    font-style: normal;
		    font-weight: normal;
		    text-align: center;
		    letter-spacing: 0.25px;
		    color: #6A74A4;
		    padding: 3px 6px;

		    &:hover {
			    background: #bfbfbf;
			    color: #465498;
		    }
		}
	}

    .teaser {
	    .permalink-wrapper {
		    max-height: 27px;
		    overflow: hidden;
		    .content {
			    padding: 0;
			    text-decoration: none;
			    color: #434A81;
			    &:hover {
			    	color: #555d9c;
			    }
			}
		}
	}

	.stats-votes {
		padding: 0px;
    	margin: -6px -5px;
		.pinned i {
		    transform: rotate(-45deg);
		    color: #30315c;
		    font-size: 25px;
		}

		.voting {
		    display: flex;
		    flex-direction: column;
		    font-family: Poppins;
		    font-size: 18px;
			color: #434A81;
			
			.vote-disabled {
				cursor: none;
				opacity: 0.4;
			}

		    .downvote, .upvote {
			    color: rgba(0, 0, 0, 0.38);
			    font-size: 35px;
			    margin-top: -7px;
			    margin-bottom: -6px;
		    }
		    .upvote {
		    	&:hover {
		    		color: #405bab;
		    	}
		    	&.upvoted {
		    		color: #405bab;
		    	}
		    }
		    .downvote {
		    	&:hover {
		    		color: #d23030;
		    	}
		    	&.downvoted {
		    		color: #d23030;
		    	}
		    }
		}
	}

	.stats-postcount {
	    padding: 0;
	    display: flex;
	    flex-direction: column;
	    padding-left: 25px;
	    margin-top: 0px;


	    .human-readable-number {
		    font-size: 13px!important;
		    margin-left: 3px;
		    font-weight: 400 !important;
		    float: left;
    		margin-left: 10px;
		}

		i {
			float: left;
			margin-top: 4px;
			color: #30315c;
		}

	    .stats-viewcount, .postcount {
		    display: inline-block;
    		font-size: 15px;
		}

		.postcount {
    		margin-top: 3px;
			i {
				margin-left: 1px;
				margin-top: 5px;
			}
		}
	}
}

/***********************************

           topic view

***********************************/


.topic {
    background: #ffffff;
    margin-left: 15px;
    padding: 10px 0px;
    padding-bottom: 0px;

    h1 .topic-title {
	    font-family: Barlow;
	    font-style: normal;
	    font-weight: 500;
	    letter-spacing: 0.25px;
	    color: #3e4475 !important;
	    padding: 0 25px;
	}

	.first-post {
	    background: white;
	    margin: 0px -25px;
	    padding: 0px 25px !important;

	    hr {
		    margin-top: 0;
		    margin-bottom: 0;
		    border: 0;
		    border-top: 1px solid #E8E8E8;
		    margin-top: 20px;
		}
		.post-bar {
			margin: 0 -25px;
			margin-top: 15px;
		}
	}

	.post-bar {
	    background: #fafafa;
    	padding: 25px;
    	border-top: 1px solid #e8e8e8;

	    .topic-main-buttons {
		    display: flex;
		    align-items: center;

		    &>.btn, &>.btn-group {
			    margin-left: 5px;
			}
		}

		.stats {
		    font-size: 15px;
		    text-align: center;
		    margin-top: 7px;
		    line-height: 23px;
		    color: #434981;
		}
	}

	.posts {
		padding: 0 25px;
	    background: #fafafa;
	    margin-bottom: -1px;
	}

	.post-wrapper {
		padding: 15px 0px;
		border-bottom: 1px solid #E8E8E8;

		.username a {
			color: #434A81;
		    font-family: Barlow;
		    font-style: normal;
		    font-weight: 500;
		    font-size: 15px;
		    &:hover {
		    	color: #636dca;
		    }
		}

		.post-time {
			text-decoration: none;
		    font-family: Poppins;
		    font-style: normal;
		    font-weight: normal;
		    font-size: 13px;
		    letter-spacing: -0.045em;
		    color: #838383;
		    &:hover {
		    	color: #7c7bcf;
		    }
		}

		.content {
			a {
			    color: #4a5085;
			}
		}

		blockquote {
		    border-left: 3px solid #C8CDE0;
		    padding: 3px 20px;
		    margin: 10px 0px 15px 30px;
		    font-size: 14px !important;
		    font-style: italic;
		    color: #5d5d5d;
		}

		blockquote::before {
		    font-family: 'Font Awesome 5 Duotone';
		    font-weight: 900;
		    position: absolute;
		    margin-left: -63px;
		    color: #C8CDE0;
		    margin-top: -7px;
		    content: "\f10e\f10e";
		    font-size: 18px;
		    letter-spacing: -5px;
		    font-style: normal;
		}

		.post-actions {
		    margin-left: 61px;
		    display: flex;
		    align-items: center;

		    .votes {
			    font-size: 13px;
			    display: flex;
			    align-items: center;

			    .upvote, .downvote {
			    	font-size: 23px;
			    	line-height: 23px;
			    	color: rgba(0,0,0,.38);
			    }

			    .upvote {
			    	margin-right: 7px;
			    	&:hover {
			    		color: #405bab;
			    	}
			    	&.upvoted {
			    		color: #405bab;
			    	}
			    }
			    .downvote {
			    	margin-left: 7px;
			    	margin-right: 7px;
			    	&:hover {
			    		color: #d23030;
			    	}
			    	&.downvoted {
			    		color: #d23030;
			    	}
			    }

			    &::after {
				    content: "\f111";
				    font-family: 'Font Awesome 5 Duotone';
				    font-weight: 900;
				    font-size: 7px;
				    color: #a4a4a4;
				    margin-right: 7px;
			    }
			}

			.post-tools {
				a {
					padding-right: 0px;
				}
				.reply::after {
				    content: "\f111";
				    font-family: 'Font Awesome 5 Duotone';
				    font-weight: 900;
				    font-size: 7px;
				    color: #a4a4a4;
				    margin-right: 7px;
				    margin-left: 7px;
			    }
			    .reply, .quote {
			    	font-size: 13px;
			    	color: #616161;
			    	i {
			    		margin-right: 3px;
			    	}
			    	&:hover {
			    		color: #4a5085;
			    	}
			    }
			}
		}

		.post-options {
			a {
				color: #606060;
				&:hover {
					color: #405bab;
				}
			}
		}

		.threaded-replies {
		    margin-right: 15px;
		    padding: 5px 10px;
		    background: #E8E8E8;
		    border-radius: 15px;
		    font-size: 12px;
		    margin-top: 5px;
    		display: inline-block;

		    &:hover {
		    	background: #efefef;
		    	color: #495090;
		    }
		    .replies-last {
			    color: #9ba0a5;
			    position: absolute;
			    margin-left: 24px;
			    font-style: italic;
			    font-size: 11px;
			    line-height: 19px;
			    &:hover {
			    	cursor: default;
			    }
			}
		}

		[component="post/replies"] {
			margin-top: 20px;
    		padding-left: 20px;
    		border-left: none !important;

			li {
			    background: #fafafa !important;
			    border-bottom: none;
			    border-left: 3px solid #e9e9e8;
			    padding-left: 15px !important;
			    margin-left: -6px;
			    &.first-post {
				    padding-top: 20px !important;
				    margin-top: -20px;
				}
			}
		}

		[component="post/parent"] {
		    background: #e9e9e8 !important;
		    border-radius: 20px;
		    padding: 3px 8px;
		    font-size: 10px;
		    margin-left: 4px;
		    &:hover {
		    	background: #efefef;
		    	color: #495090;
		    }
		}

		i.fab {
		    box-shadow: none;
		    background-color: transparent;
		    border: none;
		    border-radius: 50%;
		    cursor: default;
		    line-height: inherit;
		    vertical-align: inherit;
		    height: inherit;
		    width: inherit;
		}
	}

	.tags {
	    display: flex;
	    align-items: center;
	    height: 47px;
	    margin-bottom: 0px !important;
	}
}

/***********************************

           Mobile view

***********************************/


#mobile-menu, #mobile-chats {
    margin-top: 10px;
}


@media (max-width: 768px) {
	ul.categories [data-cid="2"]:before, ul.categories [data-cid="25"]:before, ul.categories [data-cid="44"]:before, ul.categories [data-cid="71"]:before, ul.categories [data-cid="96"]:before {
	    font-size: 17px;
	}

	.categories>li, .category>ul>li {
		margin: 0px -16px;

		.teaser {
			margin-left: 0px;

			.card {
				padding-top: 5px !important;
    			padding-bottom: 5px !important;
			}

			.last-post {
				padding-left: 10px;
			}
			.user-wrapper {
				font-size: 12px;
				padding-top: 3px;
			}

			a.permalink.category-link {
			    font-size: 14px !important;
			}
		}

		.content {

			h2, .description, .category-children {
			    margin-left: 0;
			}

			h2 i {
			    color: #434981;
			    margin-right: 3px;
			}

			.category-children {
				.item {
					overflow: hidden;
				}
			}
		}
	}

	ul.categories [data-cid="103"], ul.categories [data-cid="18"], ul.categories [data-cid="73"], ul.categories [data-cid="94"], ul.categories [data-cid="27"], ul.categories [data-cid="36"] {
	    border-bottom-right-radius: 0px;
	    border-bottom-left-radius: 0px;
	    border-bottom: 1px solid #dedede;
	    .teaser {
	    	border-bottom-right-radius: 0px;
	    }
	}
	ul.categories [data-cid="1"] {
	    border-top-right-radius: 0px;
	    border-top-left-radius: 0px;
	}
	ul.categories [data-cid="2"], ul.categories [data-cid="25"], ul.categories [data-cid="44"], ul.categories [data-cid="71"], ul.categories [data-cid="96"] {
	    margin-top: 25px;
	    border-top-right-radius: 0px;
	    border-top-left-radius: 0px;
	    padding-top: 56px;
	    border-top: 1px solid #dedede;
	}
	ul.categories [data-cid="1"] {
	    border-top: 1px solid #dedede;
	    .teaser {
	    	border-top-right-radius: 0px;
	    }
	}
	ul.categories [data-cid="2"]:before, ul.categories [data-cid="25"]:before, ul.categories [data-cid="44"]:before, ul.categories [data-cid="71"]:before, ul.categories [data-cid="96"]:before {
	     border-top-right-radius: 0px; 
	     border-top-left-radius: 0px; 
	     border-right: none; 
	}

	.topic-list {

		li {
			.content {
				.topic-title {
				    font-size: 16px;
				}
				.avatar {
				    width: 29px !important;
				    height: 29px !important;
				    line-height: 27px !important;
				    font-size: 2rem !important;
				}
				h2.title {
				    padding-left: 5px;
				    padding-right: 5px;
				}
			}
			.teaser-wrapper {
			    padding-left: 10px !important;
			}

			.teaser {
				.permalink-wrapper {
    				max-height: 43px;
					a.permalink.category-link {
				    	font-size: 12px!important;
				    	font-weight: 400 !important;
					}
				}
			}
		}
	}
}

@media (max-width: 1199px) {
	.header .navbar-toggle .notification-icon.unread-count::after {
	    position: static;
	    display: inline-block;
	}
}